.App {
  background-color: #222;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  text-align: center;
}

#header {
  font-family: 'Alata', sans-serif;
  font-size: 72px;
  color: #FFF;
}

#subheader {
  position: relative;
  font-family: 'Baloo Tamma 2', cursive;
  font-size: 48px;
  color: #BBB;
  text-align: center;
  left: 0px;
  width: 500px;
}